<!-- about -->
<div id="about-page" class="content-page">
    <h1 class="page-header no-top"><i class="icon-large icon-pencil"></i> About</h1>
    <h2>Bio</h2>
    <p>
<a href="/images/thomas-large.jpg"><img src="/images/thomas-thumb.jpg" alt="thomas bonfort" align="right" style="padding:5px"/></a>
My name is Thomas Bonfort, I'm a core <a href="http://www.mapserver.org">MapServer</a> developer and project
steering comitee (PSC) member, and specialize in custom development and support around the MapServer solutions.
</p>
<p>
I have a PhD in applied mathematics and computer science, and have been heavily 
invested around MapServer development since then, until becoming a <em>de-facto</em> maintainer
nowadays. <!--My [resume][cv] outlines some core contributions and projects.-->
</p>
<p>
When I'm not hacking on code or trying to help out on the mailing lists, I mostly enjoy
travelling, skiing and canyoning.
<p>

<h2>TerriScope</h2>
<p>
TerriScope is my consulting company, setup as a <em>EURL</em> (basically a <em>LLP</em> in the US,
or <em>Pvt. Ltd.</em> in the UK) in Toulouse, France. 
</p>
    
</div>
