<!-- home -->
<div id="home-page" class="content-page">
   <h1 class="page-header no-top"><img src="images/logo_bandeau.png" alt="Welcome!"/></h1>
    <p class="lead">Terriscope EURL, founded by Thomas Bonfort, specializes in the
    support and development around the <a href="http://www.mapserver.org">MapServer</a> software suite.</p>

    <p>I'm one of the main developpers of the MapServer project and as such can provide the following services:
    <ul>
       <li><b>Custom Development:</b> Do you need a new functionality MapServer does not support yet ? Terriscope will
       take you through the steps of formalizing your need so it can become a generic
       component ready to be included in the core. For non-trivial developments, this comprises the creation and
       promotion of a MapServer <em>RFC</em>, writing and integration of the code, and creation of automatic tests to
       ensure your feature is supported in the long run.<br/><br/>
       <li><b>Assistance:</b> Are you stuck on a difficult problem, or do you want to make sure you're making the
       right choices from the start on a complex infrastructure ? You can hire me to apply my broad experience of setting
       up MapServer architectures to your specific use-case.<br/><br/>
       <li><b>Support:</b> Found a bug that need fixing, or want a no-hassle bundle of assistance hours? Get in touch so
       we can work something out.
    </ul>
    
</div>
